.scroll-pane {
    -fx-background-color:   #2A2E37 ;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:  #673AB7;
    -fx-background-radius: 1em;
}

.jfx-list-cell
{
    -fx-background-color:  #2A2E37;
    -fx-background-insets: 0.0;
}


.jfx-list-cell:selected
{
    -fx-background-color: #c5a030;
}

.jfx-list-cell:hover
{
    -fx-background-color:  #673AB7;
}